[Unit]
Description=Launch the Flask server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/kubisek_cicd/.venv/bin/gunicorn --chdir /kubisek_cicd --bind 0.0.0.0:80 --workers 2 app:app

[Install]
WantedBy=multi-user.target

